.address {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  font-style: normal;

  &__text {
    line-height: 20px;
  }


  @media(min-width: $vp-tablet) {

    text-align: right;
    row-gap: 20px;

  }

  @media(min-width: $vp-desktop) {
    text-align: left;
  }

}