.catalog {
  display: flex;
  flex-direction: column;

  &__list {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $vp-tablet-1) {
    &__title {
      border-top: 1px solid $color-border-add;
    }

    &__list {
      border-bottom: 1px solid $color-border;
    }

    &__item {
      position: relative;

      &::before {
        content: "";
        height: 1px;
        background-color: $color-border;
        position: absolute;
        top: 0;
        left: -20px;
        width: 120%;
      }

    }
  }

  @media (min-width: $vp-tablet) {

    &__title {
      font-size: 60px;
      line-height: 60px;
      padding-top: 65px;
      padding-bottom: 160px;
      text-align: left;
    }

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 60px;
      row-gap: 140px;
    }

    &__item {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
    }
  }

  @media (min-width: $vp-desktop) {


    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}