.description {

  &__item {
    display: flex;
    flex-direction: row;

    $icons: "leaf", "tub", "eat", "alarm";

    @mixin img-block($icon-name, $width, $height) {
      &--icon-#{$icon-name}:before {
        content: '';
        height: $height;
        width: $width;
        background-image: url("../img/icon_#{$icon-name}.svg");
        background-position: center;
        background-color: $color-bg-accent;
        background-repeat: no-repeat;
        flex-shrink: 0;
      }
    }

    @media(max-width: $vp-tablet) {
      @each $icon in $icons {
        @include img-block($icon, 60px, 60px);
      }
    }

    @media(min-width: $vp-tablet) {
      @each $icon in $icons {
        @include img-block($icon, 80px, 80px);
      }
    }
  }
}
