.description {

  @mixin img-block($url) {
    content: "";
    width: 60px;
    height: 60px;
    background-image: url($url);
    background-position: center;
    background-color: $color-bg-accent;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

  &__item {
    display: flex;
    flex-direction: row;

    &--1:before {
      @include img-block("/img/icon_leaf.svg")
    }

    &--2:before {
      @include img-block("/img/icon_tub.svg")
    }

    &--3:before {
      @include img-block("/img/icon_eat.svg")
    }

    &--4:before {
      @include img-block("/img/icon_alarm.svg")
    }
  }
}
