.form {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: $color-base;

  &__title {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    margin: 0;
  }

  &__legend {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    line-height: 26px;
    background-color: $color-bg-base;
    padding-right: 20px;
  }

  &__fieldset {
    border: none;
    margin: 0;
    padding: 0;
    position: relative;

    &--bordered::before {
      content: " ";
      background-color: $color-border-add;
      width: 100vw;
      height: 1px;
      position: absolute;
      top: 0;
      left: -20px;
    }

    &--bordered::after {
      content: " ";
      background-color: $color-border-add;
      width: 100vw;
      height: 1px;
      position: absolute;
      bottom: 0;
      left: -20px;

    }

  }

  &__label {
    margin: 0;
    padding: 14px 0 0 0;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    align-items: center;

    &--radio {

      cursor: pointer;
      display: flex;
      flex-direction: row;
      column-gap: 20px;
      align-items: center;
      position: relative;

      &::before {
        content: "";
        width: 40px;
        height: 40px;
        background-color: $color-bg-base;
        flex-shrink: 0;
        border-radius: 40px;
        border: 1px solid $color-border-special;
      }
    }
  }

  &__field {
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    flex-grow: 1;


    &::placeholder {
      text-transform: uppercase;
      font-family: "Oswald", sans-serif;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      color: $color-base;
    }



    &--radio:checked+.form__label--radio::after {
      content: "";
      width: 18px;
      height: 18px;
      border-radius: 18px;
      background-color: $color-bg-accent;
      position: absolute;
      bottom: 12px;
      left: 12px;
    }

    &--area {
      display: block;
      width: 100%;
      margin-top: 38px;
    }
  }
}