.logo {
  opacity: 1;
  padding: 12px 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__img{
    width: 34px;
    height: 38px;
    background-image: url("../img/logo.svg");
  }

  &__font{
    width: 102px;
    height: 19px;
  }


  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media(min-width: $vp-tablet) {

    padding-left: 30px;
    padding-right: 30px;
    justify-content: flex-start;

    &__img{
      width: 60px;
      height: 50px;
      background-image: url("../img/logo_tablet.svg");
      margin-right: 12px;
    }
  }

  @media(min-width: $vp-tablet) {

    padding: 55px 110px 0 110px;

    &__img{
      width: 70px;
      height: 60px;
      background-image: url("../img/logo_desktop.svg");
      margin-right:14px;
    }
  }

}
