.offers {

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  @media(min-width: $vp-tablet) {

    &__list {
      row-gap: 30px
    }
  }

  @media(min-width: $vp-desktop) {

    margin-top: 82px;

    &__list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}
