.offer {
  $color-link: $color-add;
  background-color: $color-bg-add;


  &__title {
    font-size: 24px;
    line-height: 37px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &--slim:before {
      content: "";
      background: url("/img/cat-slim.svg") 0 0 no-repeat;
      width: 68px;
      height: 53px;
      background-size: contain;
    }

    &--pro:before {
      content: "";
      background: url("/img/cat-pro.svg") 0 0 no-repeat;
      width: 68px;
      height: 53px;
      background-size: contain;
    }
  }

  &__link {
    display: flex;

    &:after {
      content: $arrow-right;
    }

    &:active{
      opacity: 0.3;
    }
  }

  @media(min-width: $vp-tablet) {
    &__title {
      font-size: 36px;
      line-height: 36px;

      &--slim:before {
        width: 268px;
        height: 211px;
      }

      &--pro:before {
        width: 268px;
        height: 211px;
      }
    }
  }
}
