.page-nomain {
  display: block;

  &__title {
    font-size: 36px;
    line-height: 36px;
    padding-top: 28px;
    padding-bottom: 36px;
    text-align: center;
  }

  @media (min-width: $vp-tablet) {
    &__title {
      font-size: 60px;
      line-height: 60px;
      padding-top: 65px;
      padding-bottom: 56px;
      text-align: left;
    }
  }
}