.page-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;

  &__logo {
    grid-column: 1/2;
    grid-row: 1/2;
   }

  &__nav {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  &__promo {
    grid-column: 1/-1;
    grid-row: 3/4;
  }

  @media (min-width: $vp-tablet) {
    padding-top: 25px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;

    &__logo {

      & .burger-button{
        display:none;
      }
    }

    &__nav {
      grid-column: 2/3;
      grid-row: 1/2;
      padding-left: 30px;
      padding-right: 30px;
    }

    &__promo {
      grid-column: 1/3;
      grid-row: 2/3;
    }
  }

  @media (min-width: $vp-desktop) {
    padding-top: 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    &__logo {

    }

    &__nav {
      grid-column: 2/3;
      grid-row: 1/3;
      padding: 70px 110px 0 30px;
    }

    &__promo {
      grid-column: 1/2;
      grid-row: 2/2;
     }
  }
}
