.page-header {
  padding: 0 20px;

  &__wrapper {
    @include left-right-border();
    padding-top: 12px;
  }

  @media (min-width: $vp-tablet) {
    padding: 0 30px;

    &__wrapper {
      padding-top: 25px;
    }
  }

  @media (min-width: $vp-desktop) {
    padding: 0 110px;

    &__wrapper {
      padding-top: 55px;
    }
  }
}
