.promo {

  &__main {
  display: flex;
  flex-direction: column;
  background-origin: border-box;
  position: relative;
  padding: 30px 20px 0 20px;
  }

  &__title {
    font-size: 36px;
    line-height: 36px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 14px;
    margin-top: 25px;
  }

  &__img {
    width: 280px;
    height: 270px;
  }

  &__bg {
    display: none;
  }

  @media(max-width: $vp-tablet - 1px) {

    &__main {
      align-items: center;
      color: $color-accent;
      background: url("../img/promo_bg-mobile-green.png") no-repeat top;
      background-size: auto 320px;
    }

    &__button {
      order: 4;
    }

    &__img {
      margin-top: 30px;
      order: 3;
    }
  }

  @media (min-width: $vp-tablet) {

    &__main {
      align-items: flex-start;
      color: $color-add;
      padding: 64px 117px 0 117px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
    }

    &__subtitle {
      font-size: 20px;
      line-height: 20px;
      margin-top: 40px;
    }

    &__button {
      padding-left: 26px;
      padding-right: 26px;
      width: auto;
      margin-top: 50px;
    }

    &__img {
      width: 709px;
      height: 609px;
      margin-top: -84px;
      position: relative;
      z-index: -1;
    }
  }

  @media (min-width: $vp-desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: -117px;
    z-index: -1;
    margin-bottom: -117px;

    &__main{
      padding: 223px 0 185px 190px;
    }

    &__bg{
      display:block;
      background-image: linear-gradient($color-bg-accent-opacity, $color-bg-accent-opacity),
      url("../img/promo_bg.png");
      background-repeat: no-repeat, no-repeat;
      background-size: auto, cover;

    }

    &__button {
      margin-top: 52px;
    }

    &__img {
      width: 552px;
      height: 499px;
      position: absolute;
      left: 81%;
      z-index: 0;
    }
  }
}



