.results {
  background-color: $color-bg-add;
  padding-top: 27px;
  padding-bottom: 32px;

  &__tab {
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding-bottom: 42px;
  }

  &__title {
    font-size: 36px;
    line-height: 40px;
    padding-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
  }

  @media(min-width: $vp-tablet) {

    background-color: $color-bg-base;
    background-image: linear-gradient($color-bg-base 55%, $color-bg-add 55%);
    padding-top: 43px;
    padding-bottom: 64px;

    &__tab {
      row-gap: 59px;
    }
    &__description {
      row-gap: 55px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__title {
      font-size: 60px;
      line-height: 60px;
    }
  }

  @media(min-width: $vp-desktop) {

    background-image: linear-gradient($color-bg-base 195px, $color-bg-add 194px);
    padding-top: 0;
    padding-bottom: 75px;


    &__tab {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }

    &__description {
      background-color: transparent;
      row-gap: 70px;
      justify-content: flex-end;
      padding-bottom: 6px;
    }

    &__title {
      padding-bottom: 75px;
    }

    &__slider {
      background-color: transparent;
      background-image: none;
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }
}
