.button {
  background-color: $color-bg-accent;
  color: $color-accent;
  text-decoration: none;
  display: inline-block;

  &:hover {
    background-color: $color-bg-accent-dark;
  }

  &:active {
    background-color: $color-bg-accent-dark;

    &__text {
      opacity: 0.3;
    }
  }

  &__text {
    font-family: "Oswald", sans-serif;
    font-weight:400;
    text-transform: uppercase;
    opacity: 1;
  }

  &__theme--two {
    background-color: $color-bg-add;
    color: $color-base;
  }
}
