.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
  border-style: none;
}

.list{
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin left-right-border() {
  border-left: 2px solid $color-line;
  border-right: 2px solid $color-line;
}

@mixin color-link($color:$color-link, $color-visited:$color-link, $color-focus:$color-link,  $color-hover:$color-link, $color-active:$color-link) {
  color: $color;

  &:visited {
    color: $color-visited;
  }

  &:focus {
    color: $color-focus;
  }

  &:hover {
    color: $color-hover;
  }

  &:active {
    color: $color-active;
  }

}

