.title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;

  &__line {
    font-size: 24px;
    width: 100%;
    display: flex;
    flex-direction: row;

    &:after {
      content: " ";
      background: $color-bg-accent;
      width: 100%;
      height: 2px;
      margin-top: 12px;
    }

    @media(min-width: $vp-tablet) {

      &:before {
        content: " ";
        background: $color-bg-accent;
        width: 100%;
        height: 2px;
        margin-top: 12px;
      }
    }
  }

  &--upp {
    text-transform: uppercase;
  }

}
