// colors

$color-bg-base: #fff;
$color-bg-add: #f2f2f2;
$color-bg-accent: #68b738;
$color-bg-accent-opacity: rgba(104, 183, 56, 0.85);
$color-bg-accent-dark: #5eaa2f;
$color-base: #444;
$color-base-light: #666;
$color-base-dark: #222;
$color-add: #000;
$color-accent: #fff;
$color-line: #ff8282;



$color-link: $color-base;
$color-link-visited: $color-base;
$color-arrow: $color-add;
